body {
    height: fit-content;
}

#header {
    height: 10vh;
}

#main-content {
    height: fit-content;
}

#hero-content {
    height: 90vh;
}

#job-experience {
    height: 100vh;
}

#projects {
    height: 100vh;
}

#tools {
    height: 100vh;
}

#get-in-touch {
    height: 80vh;
}

#footer {
    height: 20vh;
}